@media screen and (min-width: 1px) {
    #header 
      padding-left: 7%;
    }
    nav {
      overflow: hidden;
      padding-right: 2%;
    }
    nav ul  {
      list-style: none;
      float: right;
    }
    nav ul li  {
      display: inline;
      padding: 10px;
    }
    h3 {
      padding-top: 3%;
      font-family: Sans-serif, Helvetica, sans-serif;
      font-size: 15px;
    }
    #main {
        margin-top: 1%;
        
        overflow: hidden;
      }
      #content{
        background-color: rgb(189, 189, 189);
        overflow: hidden;
        
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        
      }
      #content h3 / {
        width: 35%;
        margin: 0% 0% 0% 2%;
        
      }
      #content-left-float {
        float: left;
        text-align: justify;
        width: 25%;
       
        margin: 0% 0% 5% 2%;
      }
      #learn-more  {
       
        padding: 4px 7px;
      }
      #main-bottom  {
      
        display: flex;
        width: 100%;
      }
      .card {
        text-align: center;
        width: 25%;
        margin: 2% 0% 3% 6%;
       
      }
      .card-bg  {
        background-color: rgb(240, 240, 240);
        padding: 30% 10%;
        margin-bottom: 5%;
        width: 90%;
      }
      h5  {
        margin: 2% 0% 3% 0%;
        font-size: 18px;
      }
      .card-content  {
        margin: 2% 0% 2% 0%;
        padding: 1%;
        width: 90%;
        font-family: sans-serif;
        font-size: 15px;
      }
      .learn-more  {
        
        padding: 4px 7px;
        font-size: 14px;
      }
      #footer  {
        background-color: rgb(240, 240, 240);
        text-align: center;
        padding: 2% 5%;
      }
      input  {
        width: 40%;
        padding: 8px 10px;
        box-sizing: border-box;
      }
      h4 {
        margin: 0% 2% 0% 0%;
        display: inline;
      }
      .submit  {
        background-color: rgb(51, 165, 237);
        border: none;
        color: white;
        padding: 8px 10px;
        margin-left: 1%;
        width: 15%;
        transition-duration: 0.11s;
      }
      .submit:hover {
        background-color: white;
        color: rgb(51, 165, 237);
        border: 2px solid rgb(51, 165, 237);
      }
      footer  {
        display: flexbox;
        overflow: hidden;
        margin: 0% 7% 0% 7%;
        font-size: 12px;
      }
      #foot-left  {
        float: left;
      }
      #foot-right  {
        float: right;
      }
    }
    @media screen and (max-width: 511px) {
      #content h3 {
        width: 65%;
      }
      #content-left-float {
        width: 75%;
      }
      #main-bottom {
        display: block;
        margin: auto;
      }
      .card {
        width: 75%;
      }
      .card-bg {
        width: 35%;
        padding: 20%;
        margin: auto;
      }
    }